.nav {
  display: flex;
  justify-content: space-around;
  background-color: #94AF9F;
  background: linear-gradient(90deg, #94AF9F 0%, rgb(68, 154, 198) 100%);
  padding: 0px;
  font-size: 2em;
  width: 100%;
  align-items: center;
  height: 100px;
  box-shadow: 0 0 15px 0 black;
}

.nav a:hover {
  color: #020b0f;
}

.nav a {
  color: rgb(252, 245, 245);
  text-decoration: none;
  transition: color 1s ease 1ms;
}

   
.name {
  display: flex;
  font-family: 'Montagu Slab', serif;
  font-size: 40px;
  border-style: solid ;
  padding: 8px;
  border-radius: 5px;

}


.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 30px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.fa-bars {
  color: #fffdfd;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50vh;
    margin-left: -40px;
    position: absolute;
    top: 100px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    display: flex;
    justify-content: center;
    background: #242222;
    left: 10px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 200%;
    display: table;
  }

  .nav-links:hover {
    background: #dbf8e878;
    width: 200%;
    padding: 1rem;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

}



#headshot {
  border-radius: 50%;
  padding: 20px;
  width: 320px;
  height: 280px;
}

 #home {
  background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm422-047-kq92wx9y.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=b4691601fc97c7e239f0462f567837b6");
  background-size: auto;
  width: auto;
  margin: 0px;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  margin: 45px;
}  
#home-content{
  background-color: #ffffffcc;
  border-radius: 10px;
  padding: 10px;
}


* {
  font-family: 'Bitter', serif;
}

.about-img{
  border-radius: 70%;
}

#skill-badges{
  display: flex;
  padding: 10px;
  justify-content: space-around;
  transition: transform .2s;
}

#skill-badges :hover{
  transform: scale(1.5)
}

#skills-title{
  margin: 25px;
  text-align: center;
}

.side-story-div{
  background-color: rgba(190, 226, 255, 0.374);
  width: auto;
  margin: 10px;
  border-radius: 15px;

}

#side-story{
  display: flex;
  padding: 20px;
  margin: 40px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  gap: 40px;
}


.btn-resume {
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  background-color: #1888ff;
}

.btn-resume:hover {
  padding: 6px 18px;
  background-color: transparent;
  color: #090808;
  border-radius: 4px;
  border: 2px solid #0daf77;
}

.word-def {
  padding: 10px;
  margin: 10px;
}

.word-content{
  padding: 15px;
  margin: 10px;
  font-weight: bold;
}

.input-word {
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
  margin-left: 20px;
}
.input-word:focus{
  background: #c1dfe4b8;;
}

.btn-word {
  border-radius: 5px;
  margin: 5px;
  border: 1px solid rgb(220, 220, 220);
}

.btn-word:hover{
  background-color: #c1efdf;
}



.label {
  margin: 10px;
  font-size: 20px;
}
.input{
  display: flex;
  border-radius: 8px;
  justify-content: center;
  border: 1px solid rgb(220, 220, 220);
  color: rgb(10, 9, 9);
  max-width: max-content;
} 

.input:focus{
  background: #c1dfe4b8;
}

.message-area {
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  max-height: 100px;
  min-height: 100px;
  padding: 7px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
}

.message-area:focus{
  background: #c1dfe4b8;
}


#btn-s {
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  color: rgb(9, 6, 6);
  border: none;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

#btn-s:hover{
  background-color: #c1efdf;
}

#form-div {
  display: flex;
  flex-direction: column;
  margin: 80px;
  margin-top: -10px;
  justify-content: center;

}

.contact-title {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: -10px;
}

.contact-content{
  display: flex;
  justify-content: center;
  margin: 25px;
  margin-left: 50px;
  margin-right: 50px;
  width: auto;
}

#nav-pic {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  margin-left: 10px;
}

.Carousel {
  display: flex;
  justify-content: center;
  margin-left: 300px;
  margin-right: 300px;
  padding: 10px;
  margin-top: 15px;
}

.link-site {
  font-size: 35px;
  color: rgb(48, 130, 168);
}

.link-site:hover{
  font-weight: bold;
  color: rgb(48, 130, 168);
}

#project-title{
  margin-left:30px;
  padding: 15px;
  background-color: #94AF9F;
  color: white;
  border-radius: 6px;
}

#project-par{
  margin-left:30px;
  padding: 15px;
  background-color: #94AF9F;
  max-width: fit-content;
  color: white;
  border-radius: 6px;
  font-size: 17px;
}