/* .App {
  text-align: center;
} */

.nav {
  display: flex;
  justify-content: space-around;
  background-color: #94AF9F;
  padding: 0px;
  font-size: 2em;
  width: 100%;
  align-items: center;
  height: 100px;
  box-shadow: 0 0 25px 0 black;
}

.nav a:hover {
  color: #020b0f;
}

.nav a {
  color: rgb(252, 245, 245);
  text-decoration: none;
  transition: color 1s ease 1ms;
}

   
.name {
  font-family: 'Montagu Slab', serif;
  font-size: 40px;
  border-style: solid;
  padding: 8px;
  border-radius: 5px;
}


#headshot {
  border-radius: 50%;
  padding: 20px;
}

/* .home {
  background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm422-047-kq92wx9y.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=b4691601fc97c7e239f0462f567837b6");
  background-size: auto;
  width: auto;
  margin: 0px;
} */

/* #home-content{
  display: flex;
  flex-flow: row wrap;
  background-color: #9ed7f16a;
  padding: 10px;
  align-items: center;
  justify-content: space-around;
} */

#home {
  text-align: center;
  margin: 45px;
}

.about-img{
  border-radius: 50%;
}

#skill-badges{
  display: flex;
  padding: 10px;
  justify-content: space-around;
  transition: transform .2s;
}

#skill-badges :hover{
  transform: scale(1.5)
}

#skills-title{
  margin: 25px;
  text-align: center;
}

.side-story{
  display: flex;
  padding: 10px;
  margin: 15px;
  justify-content: center;
  align-items: center;
  background-color: rgb(190, 226, 255);
  gap: 80px;
}

.btn-resume{
  display: flex;
  margin: 25px;
  justify-content: center;

}

